*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Roboto";
    font-style: italic;
    min-height: 100vh;
    text-align: center;
    text-decoration: none;
}

main{
    background-image: url(./img/apartment-bed-bedroom-chair-271624.jpg);
    background-position: center;
    height: 550px;
    background-size: 100%;
    padding: 40px;
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
}

.heading{
    text-align: left;
    display: flex;
    font-display: flex;
    padding: 50px;
    font-size: 30px;
    color: ivory;

    
}

.header{
    color: rgb(24, 115, 189);
    font-size: 40px;
    
}

.img{
    border-radius: 100px;
    width: 300px;
    height: 300px;
    float: left;
   
}

.background{
    background-color: wheat;
}

